build/
target/
*-private/
lib/
emu*.sh
EmuFramework/Makefile
imagine/*.mk
imagine/Makefile
imagine/bundle/linux-*
imagine/bundle/macosx-*
imagine/src/audio/alsa
imagine/src/audio/opensl
imagine/src/base/osx
imagine/src/base/x11
imagine-tests/
PuzzleOrbs/
releases/
releases-bin/
WebOS ARM Loader/
SATURN.emu/
GBA.emu/
Shmup1/
.project
.cproject
.metadata
.settings
